# Python Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# YOLO Output
runs/

# Uploaded Images
uploads/

# YOLO Model
yolov8n.pt

# VS Code
.vscode/

# Environment Variables
.env

# Windows
Thumbs.db

# macOS
.DS_Store